functions/__pycache__/__init__.cpython-38.pyc
functions/__pycache__/etc.cpython-38.pyc
functions/__pycache__/manage.cpython-38.pyc
functions/__pycache__/music.cpython-38.pyc
functions/__pycache__/playing.cpython-38.pyc
